@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");

$colorMain: #F5B03A;
$colorSecondary: #333;
$colorB: #333;
$colorFooter: #E8E8E8;
$alert: #E23744;

*{
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	box-sizing: border-box;
	scroll-behavior: smooth;
	color: $colorB;
}

/* BODY */

body{
	width: 100%;
	height: auto;
	background-color: $colorFooter;
}

/* NAV */

nav{
	width: 100%;
	height: 80px;
	background-color: #fff;
	position: relative;
	z-index: 100;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	div{
		width: auto;
		height: 100%;
		display: flex;
		align-items: center;
		button{
			width: 80px;
			border: none;
			padding: 10px;
			margin: 10px;
			font-size: 14px;
			font-weight: 600;
			background-color: transparent;
		}
		button:hover{
			color: $colorMain;
			cursor: pointer;
		}
		.logo{
			height: 60px;
		}
		.cartWidget{
			height: 26px;
			margin-right: 10px;
			filter: invert(79%) sepia(43%) saturate(1365%) hue-rotate(331deg) brightness(103%) contrast(92%);
			box-sizing: content-box;
			padding: 10px;
			border: 2px solid transparent;
		}
		.cartWidget:hover{
			filter: invert(18%) sepia(0%) saturate(5%) hue-rotate(171deg) brightness(102%) contrast(96%);
			box-sizing: content-box;
			padding: 10px;
			border: 2px solid #333;
			cursor: pointer;
		}
	}
}

.sectionProducts{
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 5px;
	.itemCard{
		width: 300px;
		height: 380px;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 5px;
		overflow: hidden;
		.img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.containerMenu{
			position: absolute;
			width: 100%;
			height: auto;
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;
			padding: 15px;
			top: 0;
			background-color: rgba(0,0,0,0.2);
			overflow: hidden;
			z-index: 900;
			img{
				width: 20px;
				filter: invert(79%) sepia(43%) saturate(1365%) hue-rotate(331deg) brightness(103%) contrast(92%);
			}
			h2{
				width: 100%;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				text-align: center;
				text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
				margin-top: 10px;
			}
			article{
				width: 100%;
				position: relative;
				bottom: 0;
				color: #fff;
				font-weight: 400;
				font-size: 12px;
				text-align: center;
				padding: 20px;
				text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
			}
			.precio{
				padding: 5px 10px;
				font-size: 26px;
				color: $colorMain;
				font-weight: 900;
				text-align: center;
				border: 1px solid $colorMain;
				border-radius: 1px;
			}
			article, .precio{
				display: none;
			}
		}
		.containerMenu:hover{
			height: 100%;
			transition: 0.3s;
			background-color: rgba(0,0,0,0.8);
			padding: 20px 10px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			img{
				transform: rotate(-180deg);
				transition: 0.3s;
			}
			h2{
				font-size: 28px;
				font-weight: 900;
			}
			article, .precio{
				display: block;
			}
		}
		.img:hover{
			transform: scale(1.1);
			transition: 0.3s;
		}
		.container{
			width: 100%;
			height: auto;
			position: absolute;
			bottom: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 10px;
			.contador{
				width: 80%;
				height: auto;
				margin: 5px 0px;
				background-color: #fff;
				display: flex;
				justify-content: space-around;
				align-items: center;
				font-size: 22px;
				line-height: 10px;
				padding: 5px;
				border-radius: 3px;
				button{
					width: auto;
					height: auto;
					background-color: transparent;
					font-size: 30px;
					line-height: 10px;
					font-weight: 700;
					border: none;
					color: $colorB;
				}
				button:hover{
					color: $colorMain;
					background-color: transparent;
					border: none;
				}
			}
			button{
				width: 80%;
				height: auto;
				background-color: $colorMain;
				color: #fff;
				border: none;
				border-radius: 3px;
				padding: 5px;
				font-size: 14px;
				font-weight: 700;
			}
			button:hover{
				background-color: $colorSecondary;
				cursor: pointer;
			}
		}
		
	}
	.itemCard:hover{
		box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
	}	
}

h1{
	font-size: 160px;
	color: $colorMain;
	text-align: center;
	margin-top: 100px;
}

