@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  color: #333;
}

/* BODY */
body {
  width: 100%;
  height: auto;
  background-color: #333;
}

/* NAV */
nav {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: relative;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav div button {
  width: 80px;
  border: none;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
}

nav div button:hover {
  color: #F5B03A;
  cursor: pointer;
}

nav div .logo {
  height: 60px;
}

nav div .cartWidget {
  height: 26px;
  margin-right: 10px;
  -webkit-filter: invert(79%) sepia(43%) saturate(1365%) hue-rotate(331deg) brightness(103%) contrast(92%);
          filter: invert(79%) sepia(43%) saturate(1365%) hue-rotate(331deg) brightness(103%) contrast(92%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 10px;
  border: 2px solid transparent;
}

nav div .cartWidget:hover {
  -webkit-filter: invert(18%) sepia(0%) saturate(5%) hue-rotate(171deg) brightness(102%) contrast(96%);
          filter: invert(18%) sepia(0%) saturate(5%) hue-rotate(171deg) brightness(102%) contrast(96%);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 10px;
  border: 2px solid #333;
  cursor: pointer;
}

.sectionProducts {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.itemCard {
  width: 300px;
  height: 300px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  margin: 10px;
}

.itemCard .containerMenu {
  position: absolute;
  width: 300px;
  height: auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.itemCard .containerMenu img {
  width: 20px;
  -webkit-filter: invert(79%) sepia(43%) saturate(1365%) hue-rotate(331deg) brightness(103%) contrast(92%);
          filter: invert(79%) sepia(43%) saturate(1365%) hue-rotate(331deg) brightness(103%) contrast(92%);
}

.itemCard .containerMenu h2 {
  width: 100%;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.itemCard .containerMenu article {
  width: 100%;
  position: relative;
  bottom: 0;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.35);
}

.itemCard .containerMenu .precio {
  padding: 5px 10px;
  font-size: 36px;
  color: #F5B03A;
  font-weight: 900;
  text-align: center;
  border: 1px solid #F5B03A;
  border-radius: 1px;
}

.itemCard .containerMenu article, .itemCard .containerMenu .precio {
  display: none;
}

.itemCard .containerMenu:hover {
  height: 300px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.itemCard .containerMenu:hover img {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.itemCard .containerMenu:hover h2 {
  font-size: 28px;
  font-weight: 900;
}

.itemCard .containerMenu:hover article, .itemCard .containerMenu:hover .precio {
  display: block;
}

.itemCard .container {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 220px;
}

.itemCard .container .contador {
  width: 200px;
  height: auto;
  margin: 5px 0px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  line-height: 10px;
  padding: 5px;
  border-radius: 3px;
}

.itemCard .container .contador button {
  width: auto;
  height: auto;
  background-color: transparent;
  font-size: 30px;
  line-height: 10px;
  font-weight: 700;
  border: none;
  color: #333;
}

.itemCard .container .contador button:hover {
  color: #F5B03A;
  background-color: transparent;
  border: none;
}

.itemCard .container button {
  width: 200px;
  height: auto;
  background-color: #F5B03A;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
}

.itemCard .container button:hover {
  background-color: #333;
  cursor: pointer;
}

h1 {
  font-size: 160px;
  color: #F5B03A;
  text-align: center;
  margin-top: 100px;
}
/*# sourceMappingURL=styles.css.map */